/* Colour palette:
Red: #cc2d30
Red darker: #a32426
Gold: #FFD700
Blue: 	#9bdbc1
Blue Darker: #7caf9a

from: https://www.color-hex.com/color-palette/66925 */

.board {
    width: 500px;
    height: 500px;
    display: grid;
}